h1{
	text-align: center;
	color:white;
}

p{
	text-align: center;
	color:white
}

div{
	background-color:aquamarine;
	height:400px;
	width: 1350px:
}
#top{
	align:center;
}

#circle{
	height: 100px;
	width: 100px;
	background-color: red;
	border-radius: 50%;
	display: inline-block;
}